<!DOCTYPE html>
<html lang=en_us>

<head>
    <title>Testing Page</title>
</head>

<body>
    <h1>Hello World Testing Page</h1>
    <div id=user_info>
        <h2><%= user.firstName %> <%= user.lastName %> - <%= user.age %></h2>
    </div>
</body>

</html>